.ScrollPage {
  background: white;
  height: 100%;
  width: 100%;
}

.ScrollPage-content {
  padding: 15px;
	width: 100%;
	height: 100%;
	overflow: visible;
	z-index: -1;
  visibility: visible;
}

a{
	  z-index: 99;
}

a:active{
	  color:green;
}


.resize-sensor, .resize-sensor > div {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: -1;
}